ion-content {
    --background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --padding-top: 5%;

    h1 {
        font-family: 'digital', 'arial', sans-serif;
        color: rgb(255, 0, 0);
        font-size: 4em;
        font-weight: bolder;
    }

    form {
        ion-list {
            ion-item {
                ion-input {
                    color: rgb(255, 0, 0);
                    margin-bottom: 20px;
                    border: 2px solid red;
                    border-radius: 10px;
                    font-size: 16px;
                }
            }
        }

        .btn-ingresar {
            --background: rgb(255, 0, 0);
            color: rgb(0, 0, 0);
            padding: 10px;
            width: 100px;
            height: 100px;
            border: none;
            font-size: 50px;
            font-weight: bold;
            cursor: pointer;
        }

        // .cambiarA {
        //     color:  rgb(54, 54, 54);
        //     font-size: 18px;
        //     font-weight: bold;
        // }
    }

    .errors-on-the-forms {
        color: var(--ion-color-warning);
    }

    #fast-login {

        ion-item {
            background: transparent;
        }

        h3 {
            font-family: 'digital', 'arial', sans-serif;
            color:  rgb(255, 0, 0);
            font-size: 2em;
            font-weight: bold;
        }

        #row-avatars {
            flex-wrap: nowrap;
            margin-top: -1vh;
        }

        ion-button {
            --background: rgb(255, 0, 0);
            color: rgb(0, 0, 0);
            font-size: 18px;
            margin: 10px;
        }
    }

    ion-col.no-lateral-margin-or-padding {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}