ion-content {
    --background: rgb(248, 238, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --padding-top: 5%;

    form {
        ion-list {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 15px;

            label {
                color: rgb(51, 51, 51);
                padding: 10px;
                font-size: 20px;
                font-weight: bold;
            }

            ion-item {
                --background: #f5f5f5;
                color: rgb(51, 51, 51);
                margin-bottom: 20px;

                ion-input {
                    font-size: 16px;
                }
            }
        }

        .btn-ingresar {
            --background: rgba(140, 13, 190, 0.8);
            color: rgb(248, 238, 145);
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .cambiarA {
            color:  rgb(54, 54, 54);
            font-size: 18px;
            font-weight: bold;
        }
    }

    .errors-on-the-forms {
        color: var(--ion-color-warning);
    }

    #fast-login {

        ion-item {
            background: transparent;
        }

        h3 {
            color: rgb(54, 54, 54);
            font-size: 2em;
            font-weight: bold;
        }

        #row-avatars {
            flex-wrap: nowrap;
            margin-top: -1vh;
        }

        ion-button {
            margin: 0;

            .grid-avatars {
                margin-right: 0;
                margin-left: 0;
                padding-right: 0;
                padding-left: 0;

                ion-col {
                    display: flex;
                    justify-content: center;

                    img {
                        height: 80px;
                    }

                    ion-text {
                        color: rgb(54, 54, 54);
                    }
                }
            }
        }
    }

    ion-col.no-lateral-margin-or-padding {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}