<ion-content class="ion-justify-content-center">
  <div class="ion-text-center">
    <h1>Alarma<br>de robo</h1>
  </div>

  <form #authform="ngForm" (ngSubmit)="onSubmit(authform)" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <!-- <label>Correo electrónico:</label> -->
            <ion-item>
              <ion-input class="ion-padding" type="email" ngModel name="email" required email #emailCtrl="ngModel"
                placeholder="Usuario"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label class="errors-on-the-forms">El formato no se corresponde con una dirección de correo
                electrónico.</ion-label>
            </ion-item>
            <!-- <label>Contraseña:</label> -->
            <ion-item>
              <ion-input class="ion-padding" type="password" ngModel name="password" required password minlength="6"
                #passCtrl="ngModel" placeholder="Clave"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
              <ion-label class="errors-on-the-forms">La contraseña debe contener al menos 6 caracteres.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="4" offset-xs="4">
          <ion-button type="submit" expand="block" class="btn-ingresar" shape="round" [disabled]="!authform.valid">
            <!-- {{ isLogin ? 'Ingresar' : 'Registrarse'}} -->
            <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button type="button" fill="clear" expand="block" class="cambiarA " (click)="onSwitchAuthMode()">
            Cambiar a {{ isLogin ? 'Registro' : 'Ingreso'}}
          </ion-button> -->
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- FAST LOGIN -->
    <ion-grid id="fast-login">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-label class="ion-text-center">
            <h3>Usuarios registrados</h3>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row id="row-avatars">
        <ion-col>
          <ion-button type="button" fill="solid" expand="block"
            (click)="onFastLogin(authform, 'invitado@invitado.com', '222222')">
            Invitado
          </ion-button>
          <ion-button type="button" fill="solid" expand="block"
            (click)="onFastLogin(authform, 'usuario@usuario.com', '333333')">
            Usuario
          </ion-button>
          <ion-button type="button" fill="solid" expand="block"
            (click)="onFastLogin(authform, 'anonimo@anonimo.com', '444444')">
            Anónimo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- END OF FAST LOGIN -->

  </form>
</ion-content>