<ion-content [fullscreen]="true">

  <div *ngIf="isVisible" class="nombre ion-text-center">
    <ion-label> BOGADO, Candela Belén </ion-label>
  </div>
  <div *ngIf="isVisible" class="division ion-text-center">
    <ion-label> División: A341 </ion-label>
  </div>

  <div class="roll-in-blurred-left ion-text-center">
    <img src="../../assets/icon/Logo-Splash-Violeta.png" />
  </div>
  <div class="ion-text-center">
    <h1 class="tracking-in-expand">Aprende en un<br>toque</h1>
  </div>

</ion-content>
