ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  height: 100%;
  display: flex;
  position: relative;
}

.full-screen-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: none;
}

.alarma-activada {
  background-color: rgb(255, 0, 0);
}

.alarma-desactivada {
  background-color: rgb(121, 0, 0);
}

.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-image {
  width: 350px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-bottom: 10px;
}

span {
  font-size: 30px; /* Tamaño del texto */
  color: white; /* Cambia según el color que prefieras */
}


.floating-logout-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  font-size: 25px;
  position: absolute;
  bottom: 20px; /* Ajusta la distancia del borde inferior */
  right: 20px; /* Ajusta la distancia del borde derecho */
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border: none;
  z-index: 10; /* Asegura que esté por encima del botón principal */
  border-radius: 50%;
}

.ocultar {
  display: none;
}